* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /*background-color: #1e1e1e;*/
    color: #e0e0e0;
    background-image: url('https://andrewontilt.github.io/assets/ultrapvp/sprites/hp_bg.png');
    background-size: cover;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    background: url('https://andrewontilt.github.io/assets/ultrasmp/sprites/lp-icon.png') no-repeat center center;
    background-size: contain;
}

.title h1 {
    font-size: 24px;
    color: #fff;
}

.title p {
    font-size: 14px;
    color: #a0a0a0;
}

.download-btn {
    background-color: #0073e6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
}

.download-btn:hover {
    background-color: #005bb5;
}

.tabs {
    display: flex;
    margin-top: 20px;
}

.tab {
    background-color: #333;
    color: #e0e0e0;
    padding: 10px 20px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.tab.active {
    background-color: #0073e6;
    color: white;
}

.tab:hover {
    background-color: #444;
}

.version-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.version-table th, .version-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #444;
}

.version-table th {
    background-color: rgba(0, 0, 0, 0.5);
    
}

.version-table td {
    background-color: rgba(0, 0, 0, 0.5);
}

.version-table tr:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.version-table td:nth-child(4) {
    font-size: 12px;
    color: #d0d0d0;
}