* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem;
}

.navbar .logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
}

.navbar .nav-links li {
  margin-left: 1rem;
}

.navbar .nav-links a {
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.wiki {
  background-color: blue;
  border-radius: 100px;
  transition: background-color 0.3s;
}
.wiki:hover{
  background-color: darkblue;
}
.packs {
  background-color: green;
  border-radius: 100px;
  transition: background-color 0.3s;
}
.packs:hover{
  background-color: darkgreen;
}

.header {
  background: url('https://andrewontilt.github.io/ultrasmp/assets/background.png') no-repeat center center/cover;
  color: #fff;
  text-align: center;
  padding: 13.09rem 0;
}

.header h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.header p {
  font-size: 1.5rem;
}

.section {
  padding: 2rem;
  text-align: center;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
